
//font family


@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;400;500;700&family=Poppins:wght@300;400;500&display=swap');

$font-family-main: 'Poppins', sans-serif;
$font-family-title: 'Lora', serif;

//Colors

$white: #FFFFFF;
$black: #111111;
$light-gray: #E5E5E5;
$orange: #F88E37;
$cyan-blue-dark: #1F3044;
$light-cyan-blue: rgba(82, 109, 139, 0.658);

$colors: (
    "primary": $white,
    "secondary":  $black,
    "accent": $orange,
    "light-gray": $light-gray,
    "cyan-blue-dark":$cyan-blue-dark,
    "light-cyan-blue": $light-cyan-blue,
);

$overlay-gradient:  linear-gradient(0deg, rgba(17,17,17,1) 20%, rgba(255,255,255,0) 90%);

// font size

$base-fs: 1rem;

//big text
$fs-title-lg: $base-fs * 2.1;
$fs-title-sm: $base-fs * 1.9;

//paragraph

$fs-par-lg: $base-fs * 1;
$fs-par-md: $base-fs * 0.9;
$fs-par-sm: $base-fs * 0.8;

//button

$font-size-button-lg: $base-fs * 1;
$font-size-button-sm: $base-fs * 0.9;

//hero text
$font-size-big: clamp(3rem, 5vw, 7rem);

$font-size-eu-sm: $base-fs * 2.2;


$line-height: 1.5;


$padding-left: 4.5rem;


