@import 'variable';

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-family:$font-family-main;
    font-size: $base-font-size;
    max-width: 1490px;
    margin: 0 auto;
    font-weight: 200;
    // background-color: map-get($colors, "secondary" );
}

.fw-title {
    font-weight: 400;
}

.swiper {
    width: 100%;
    height: 100vh;
    min-height: 600px;

    
  }


 .swiper-slide {
    position:relative;
 
   

    &::before {
      content:"";
      width: 100%;
      height: 100%;
      background: $overlay-gradient;
      position:absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
     
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
 }



 .swiper-pagination-bullet {
    
     display:inline-block;
     width: 10px;
     height: 10px;
     font-family: $font-family-main;
     color: map-get($colors, 'primary' );
     opacity: 1;
     position:relative;
     outline: 5px solid map-get($colors,"accent");


     &:nth-child(1)::before {
    content:"Africa";
    position:absolute;
    top: -50px; 

    }

    &:nth-child(2)::before {
        content:"United States";
        position:absolute;
        top: -70px;
    }

    &:nth-child(3)::before {
        content:"Australia";
        position:absolute;
        top: -50px;
    }

    &:nth-child(4)::before {
        content:"Europe";
        position:absolute;
        top: -50px;
    }

    &:nth-child(5)::before {
        content:"Asia";
        position:absolute;
        top: -50px;
    }

 }


.swiper-pagination-bullet:not(:last-child):after{
    content: "";
    display: inline-block;
    position:absolute;
    bottom:30%;
    right: 0;
    left: 20%;
    width: 250px;
    height: 5px;
    z-index: -1;
    background-color: map-get($colors, 'accent');

}



.swiper-pagination-bullet-active {
   
    background-color: map-get($colors, 'primary' );
    
}


.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 70%;
    display:flex;
    justify-content: space-between;
    bottom: 5%;
    left: 6%;
  
    
}



.country {
    color: black;
}


.banner {
    width: 80%;
    color: map-get($colors, 'primary');
    position:absolute;
    top: 20%;
    left: 5%;
    z-index:2;
   

    &__heading {
        font-family: $font-family-title;
        font-size: $font-size-big;
        line-height: 1.2;
        
    }

    &__subheading {
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 1.5rem 0;

    }

}

.button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: $font-size-sm;
    padding: 10px 30px;
    background-color: map-get($colors, 'accent' );
}


.info-1__container {
    display:flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: map-get($colors, "secondary" );
    color: map-get($colors, "primary" );
    padding-left: $padding-left;

}

.info-1 {
    

    &__title {
        font-family: $font-family-title;
        font-size: $font-size-md;
        margin-bottom: 20px;
    }

    &__paragraph {
        width: 40%;
        line-height: 1.8;
    }

}

.info-2__container {


    width: 100%;
    height: 100vh;
    padding-left: $padding-left;
    background-color: map-get($colors , "cyan-blue-dark" );
    color: map-get($colors, "primary" );


    .image {
        width: 100%;
        height: 110vh;
        display:flex;
        gap: 20px;
        
    
        &__left {
            width: 40%;
            height: 400px;
            position:relative;
            top: -50px;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            .caption{
                width: 80%;
                font-family: $font-family-title;
                font-size: $font-size-md - 0.5;
                line-height: 1.3;
                padding-left: 15px;
                margin-top: 10px;
            }
        }
    
        &__right {
            width: 60%;
            height: 700px;
            position:relative;
            top: -350px;
            
            .vertical {
                font-size: 50px;
                color: map-get($colors, "light-cyan-blue");
                writing-mode: sideways-lr;
                direction: rtl;
                position:absolute;
                bottom: 15%;
            }
    
            figure {
                height: 100%;
            }
    
            img {
                display:block;
                width: 90%;
                height: 100%;
                object-fit: cover;
                margin-left: auto;
               
    
            }
    
            .caption {
                width: 70%;
                margin-top: 20px;
                line-height: 1.8;
            }
    
            .button {
                margin-top: 20px;
            }
        }
    }
}


.info-3__container {
    width: 100%;
    height: auto;
    background-color: $light-gray;

    .content__container {
        width: 100%;
        display:flex;
        gap: 5px;
    
    
         > * {
            
            width: 33.33%;
        }
    
        .image-1 {
            height: 800px;
            position: relative;
            top: -80px;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .wrapper {
            width: 80%;
            margin: 30px auto;
           
        
            .caption__title {
                font-family: $font-family-title;
                font-size: $font-size-md;
               
            }
        
            .caption__lists {
                margin: 20px 0;
                padding-right: 20px;
                font-style: italic;
                font-weight:100;
                font-size: $font-size-sm + 0.1;
                color: rgba($black, .5);
        
        
                .list {
        
                    
                    list-style: none;
                    margin: 7px 0;
                    
        
        
                    &::before {
                      content: '\29BF';
                      font-size: 20px;
                      padding-right: 5px;
                      color: $orange;
                    }
                }
            }
        
            .caption__paragraph {
                margin-top: 50px;
                line-height: 1.5;
               
            }
        
        }
        
        .image-2 {
            height: 643px;
            position:relative;
            top: 80px;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            
        }
        
    
    }
        
    

}


.info-4 {
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    color: $white;
    background-color: $cyan-blue-dark;
    position:relative;

    .contents{
        width: 90%;
        margin: 0 auto;
        display:flex;
        align-items: center;
        gap: 2.5rem;

       
        // > * {
        //     width: 50%;
        // }

        .text {

            width: 40%;

            &__title {
                font-family: $font-family-title;
                font-size: $font-size-md;
               
            }

            &__paragraph {
                margin: 25px 0;
                line-height: 1.8;
            }
        }
    


        .image {

            width: 60%;
            padding-left: 2rem;

            img {
                width: 85%;
                height: 100%;
                object-fit: cover;
                text-align:center;
            }

            .caption {
                line-height: 1.8;
                margin-top: 40px;
                font-style: oblique;
                position:relative;
                left:  -8%;
            }
        }
    }


    .vertical {
    
        font-size: 4rem;
        position:absolute;
        top: 35%;
        right: 4%;
        writing-mode: sideways-lr;
        direction: rtl;
        color: $light-cyan-blue;

    }

}


.info-5 {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
   
    background-color: $black;
    color: $white;
    

    .content-wrapper {
        width: 40%;
        margin-right: 5rem;
        text-align: right;
        padding: 2.5rem 0;

        .title {

            font-family: $font-family-title;
            font-size: $font-size-md;
            
        }

        .paragraph {
            line-height: 1.8;
            margin: 20px 0;
        }

        .star {
            width: 40px;
            height: 40px;
          
        }

    
        .star:not(:last-child) {
            margin-right: 25px;
        }
    }
}


.info-6 {
    width: 100%;
    background-color: $light-gray;
    color: $black;
    position:relative;
    

    .flex-wrapper {
        display:flex;
        gap: 2rem;
      

        .left {
            width: 50%;
            height: 700px;
            
           
            
            img {
                width: 100%;
                height: 100%;
              
                position:relative;
                top: -25%;
                
               
            }
        
        }

        .right {
            width: 50%;

            figure {

               
                height: 450px;
                padding: 3rem 0;
                display:flex;
                justify-content: center;
               

                img {
                   width: 50%;
                   height: 100%;
                   object-fit: cover;
                 
                    
                }

            }

            .caption {
                
               

                .title {

                    width: 50%;
                    font-family: $font-family-title;
                    font-size: $font-size-md - 0.5;
                }

                .paragraph {
                    width: 85%;
                    margin: 1rem 0;
                }
            }
            
        }
    }

    .vertical {
        font-size: 5rem;
        color: rgba($white, .5);
        writing-mode: sideways-lr;
        direction: rtl;
       
        position: absolute;
        top: 7%;
        right: 4%;

        
    }
}


.footer {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/assets/images/footer.jpg) no-repeat center;
    background-size: cover;
    color: $white;
    text-align: center;
    padding: 10rem 0;
    

    .title {
        font-family: $font-family-title;
        font-size: $font-size-md;
       
        
    }

    .list {
        
      margin: 1.5rem 0;
       line-height: 1.5;

    }

    .socmed {

        .icon {
            width: 25px;
            height: 25px;
            margin-right: 0.7rem;
        }
    }
}
@media screen and (max-width: 768px) {


  
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {

        bottom: 5%;
    }

    .swiper-pagination-bullet::before{
        left: -5px;
    }

    .swiper-pagination-bullet {
        font-size: $font-size-sm;
    }

    .swiper-pagination-bullet:not(:last-child):after {
        width: 160px;
    }
    
    .banner {
        top: 30%;
    }


    .button {
        font-size: $font-size-xsm;
    }



    .info-3__container .content__container .wrapper .caption__title {
        font-size: $font-size-md - .7;
    }

    
}


@media screen and (max-width: 576px) {

    .swiper {
        min-height: 850px;
    }
    .swiper-pagination-bullet {
        font-size: $font-size-xsm;
    }

    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }

    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: 80%;

    }

    .swiper-pagination-bullet:not(:last-child):after {
       width: 100px;
    
    }


    
}