@import 'variable';
@import 'breakpoints';

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-family:$font-family-main;
    font-size: $fs-par-lg;
    font-weight: 200;
    max-width: 1490px;
    margin: 0 auto;
    color: $white;
    scroll-behavior: smooth;
    overflow-x: hidden;
   

    @include mq(sm) {
        font-size: $fs-par-md;
    }
}



.fw-title {
    font-weight: 400;
}

.swiper {
    width: 100%;
    height: 100vh;
    min-height: 600px;

    
  }


 .swiper-slide {
    position:relative;
 
   

    &::before {
      content:"";
      width: 100%;
      height: 100%;
      background: $overlay-gradient;
      position:absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
     
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
 }



 .swiper-pagination-bullet {
    
     display:inline-block;
     width: 10px;
     height: 10px;
     font-family: $font-family-main;
     color: map-get($colors, 'primary' );
     opacity: 1;
     position:relative;
     outline: 5px solid map-get($colors,"accent");


     &:nth-child(1)::before {
    content:"Africa";
    position:absolute;
    top: -50px; 

    }

    &:nth-child(2)::before {
        content:"United States";
        position:absolute;
        top: -70px;
    }

    &:nth-child(3)::before {
        content:"Australia";
        position:absolute;
        top: -50px;
    }

    &:nth-child(4)::before {
        content:"Europe";
        position:absolute;
        top: -50px;
    }

    &:nth-child(5)::before {
        content:"Asia";
        position:absolute;
        top: -50px;
    }

 }


.swiper-pagination-bullet:not(:last-child):after{
    content: "";
    display: inline-block;
    position:absolute;
    bottom:30%;
    right: 0;
    left: 20%;
    width: 250px;
    height: 5px;
    z-index: -1;
    background-color: map-get($colors, 'accent');

}



.swiper-pagination-bullet-active {
   
    background-color: map-get($colors, 'primary' );
    
}


.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 70%;
    display:flex;
    justify-content: space-between;
    bottom: 5%;
    left: 6%;
  
    
}



.country {
    color: black;
}


.banner {
    width: 80%;
    position:absolute;
    top: 30%;
    left: 5%;
    z-index:2;
   

    &__heading {
        font-family: $font-family-title;
        font-size: $font-size-big;
        font-weight: 500;
        line-height: 1.2;
        
    }

    &__subheading {
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 1.5rem 0;
        font-weight: 400;

    }

    @include mq(md) {
        top: 30%;
    }

}

.button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: $font-size-button-lg;
    padding: 10px 30px;
    background-color: $orange;

    @include mq(md) {
        font-size: $font-size-button-sm;
    }

}


section,
.footer {
    position: relative;
    z-index: 999;
}

.box-1 {
    width: 100%;
    padding: 8rem 0 8rem $padding-left;
    display:flex;
    align-items: center;
    background-color: $black;

    .container {
        width: 40%;

        @include mq(sm) {
            width: 80%;
        }
    }

    .title {
        font-family: $font-family-title;
        font-size: $fs-title-lg;
        margin-bottom: 20px;

        @include mq(sm) {
            font-size: $fs-title-sm;
        }
    }
    
    .paragraph {
        // width: 40%;
        line-height: 1.8;
    }
    
    @include mq(sm) {
        height: auto;

    }
}


.box-2{

    width: 100%;
    padding-left: $padding-left;
    padding-bottom: 8rem;
    background-color: $cyan-blue-dark;
    
    
    @include mq(md) {
        padding-bottom: 15rem;
    }
    @include mq(sm) {
        padding-left: 0;
        padding-bottom: 50rem;
    }


    .images {
        width: 100%;
        display:flex;
        gap: 20px;
     
        
        @include mq(sm) {
            flex-direction: column;
            gap: 0;
    
        }
    
        .left {
            width: 40%;
            height: 400px;
            transform:translateY(-50px);

            
            @include mq(sm) {
             
                width: 80%;
                margin: 0 auto;

            
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            .caption{
                width: 80%;
                padding-left: 15px;
                margin-top: 2.8rem;
                font-family:$font-family-title;
                font-size: $fs-title-sm;
                line-height: 1.3;


                @include mq(sm) {
                    width: 95%;
                }
            }
        }
    
        .right {
            width: 60%;
            height: 700px;
            transform: translateY(-350px);

            @include mq(sm) {
                height: 400px;
                width: 100%;
                margin-left: 8%;
                transform:translateY(280px);
            }
            
            .vertical {
                font-size: 50px;
                color: $light-cyan-blue;
                writing-mode: sideways-lr;
                direction: rtl;
                position:absolute;
                bottom: 15%;
            }
    
            .image {
                height: 100%;
            }
    
            img {
                display:block;
                width: 90%;
                height: 100%;
                object-fit: cover;
                margin-left: auto;
               
                @include mq(sm) {
                    width: 80%;
                }
            }
    
            .caption {
                width: 70%;
                margin-top: 2.8rem;
                line-height: 1.8;

                @include mq(sm) {
                    width: 80%;
                }
            }
    
            .button {
                margin-top: 20px;
            }
        
          
        }
    }
}


.box-3 {
    width: 100%;
    height: auto;
    background-color: $light-gray;
    color: $black;
    position:relative;
    z-index: 1000;

    .container {
        width: 100%;
        display:flex;
        gap: 5px;
    
    
         > * {
            
            width: 33.33%;

            @include mq(sm) {
                width: 100%;
            }
        }

        @include mq(sm) {
            flex-direction: column;

        }
    
    }
    
    .image-1 {
        height: 800px;
        position: relative;
        top: -80px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mq(sm) {
            position:static;
            top: 0;
            height: 500px;
        }
    }
        
    .caption {
        width: 80%;
        margin: 30px auto;

        @include mq(sm) {
            width: 90%;
        }
           
        
        .title {
                font-family: $font-family-title;
                font-size: $fs-title-lg;
               
            @include mq(md) {
                    font-size: $fs-title-sm;
                }
           }
        
        .lists {
            margin: 20px 0;
            padding-right: 20px;
            font-style: italic;
            font-size: $fs-par-md;
            color: rgba($black, .5);
        

            .list {
        
                    
                list-style: none;
                margin: 7px 0;
                    
        
        
                &::before {
                    content: '\29BF';
                    font-size: 20px;
                    padding-right: 0.5rem;
                    color: $orange;
                }
            }
        }
        
        .paragraph {
                margin-top: 50px;
                line-height: 1.5;
               
        }
        
    }
        
    .image-2 {
        height: 643px;
        position:relative;
        top: 80px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 

        @include mq(sm) {
            position:static;
            top: 0;
            height: 500px;
        }
            
    }
        
}

        
.box-4 {
    width: 100%;
    padding: 4rem 0;
    color: $white;
    background-color: $cyan-blue-dark;
    position:relative;

    @include mq(sm) {
        align-items: flex-start;
        height: auto;
        padding-bottom: 7rem;
       
    }
    .contents{
        width: 90%;
        margin: 0 auto;
        display:flex;
        align-items: center;
        gap: 2.5rem;

        @include mq(sm) {
            flex-direction: column;
           
        }

    
        .text {

            width: 40%;

            .title {
                font-family: $font-family-title;
                font-size: $fs-title-lg;
               
            }

            .paragraph {
                margin: 25px 0;
                line-height: 1.8;
            }

            @include mq(sm) {
                width: 100%;
                padding: 1.5rem;
            }
        }
    


        .image {

            width: 60%;
            padding-left: 2rem;

            img {
                width: 85%;
                height: 100%;
                object-fit: cover;
                text-align:center;

                @include mq(sm) {
                    width:90%;
                    height: 60%;
                }
            }

            .caption {
                line-height: 1.8;
                margin-top: 40px;
                font-style: oblique;
                position:relative;
                left:  5%;

                @include mq(sm) {
                    width: 80%;
                    left: 7%;
                    text-align:left;

                }

                
            }

            @include mq(sm) {
                width: 100%;
                padding: 0;
                text-align:center;
               
            }
        }
    }


    .vertical {
    
        font-size: 4rem;
        position:absolute;
        top: 28%;
        right: 4%;
        writing-mode: sideways-lr;
        direction: rtl;
        color: $light-cyan-blue;

        @include mq(sm) {
            font-size: $font-size-eu-sm;
            top: 75%;
        }
    }

}


.box-5 {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: $black;
    color: $white;
    

    .contents {
        width: 40%;
        margin-right: 5rem;
        text-align: right;
        padding: 2.5rem 0;

        @include mq(sm) {
            width: 70%;
            margin-right: 2.5rem;
            padding: 5rem 0;
        
        }

        .title {

            font-family: $font-family-title;
            font-size: $fs-title-lg;

            @include mq(sm){
                font-size: $fs-title-sm;
            }
            
        }

        .paragraph {
            line-height: 1.8;
            margin: 20px 0;
        }

        .star {
            width: 35px;
            height: 35px;

            @include mq(sm){
                width:20px;
                height: 20px;
            }
          
        }

    
        .star:not(:last-child) {
            margin-right: 25px;

            @include mq(sm) {
                margin-right: 10px;
            }
        }
    }
}


.box-6 {
    width: 100%;
    background-color: $light-gray;
    color: $black;
    position:relative;
    padding-bottom: 2rem;

    .wrapper {
        display:flex;
        gap: 2rem;
        
        @include mq(sm) {
            flex-direction: column;
            
        }


        .left {
            width: 50%;
            height: 700px;

            @include mq(sm) {
                width: 90%;
                height: 500px;
            }
            
           
            
            img {
                width: 100%;
                height: 100%;
              
                position:relative;
                top: -25%;
                
                @include mq(sm) {
                    top: -8%;
                }
            }
        
        }

        .right {
            width: 50%;

            
            @include mq(sm) {
                width: 100%;
            }

            figure {

                height: 450px;
                padding: 3rem 0;
                display:flex;
                justify-content: center;
               

                img {
                   width: 50%;
                   height: 100%;
                   object-fit: cover;

                   @include mq(md) {
                       width: 70%;
                   }
                 
                    
                }

                @include mq(md) {
                    justify-content: flex-start;
                }

                @include mq(sm) {
                    justify-content: flex-start;
                    padding: 0;
                    height: 300px;
                    margin-left: 2rem;
                }
            }

            .caption {
                
                @include mq(sm) {
                    margin-left: 2rem;
                    margin-top: 2rem;
                }
               

                .title {

                    width: 50%;
                    font-family: $font-family-title;
                    font-size: $fs-title-lg;

                    @include mq(sm) {
                        width: 90%;
                    }
                }

                .paragraph {
                    width: 80%;
                    margin: 1rem 0;
                }
            }
            
        }
    }

    .vertical {
        font-size: 4.5rem;
        color: rgba($white, .5);
        writing-mode: sideways-lr;
        direction: rtl;
       
        position: absolute;
        top: 7%;
        right: 2%;

        @include mq(sm) {
            top: 45%;
            font-size: 4rem;
        }

        
    }
}


.footer {
    
    padding: 5rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/assets/images/footer.jpg) no-repeat center;
    background-size: cover;
    color: $white;
    text-align: center;
    

    .title {
        font-family: $font-family-title;
        font-size: $fs-title-lg;
       
        
    }

    .list {
        
      margin: 1.5rem 0;
       line-height: 1.5;

    }

    .socmed {

        .icon {
            width: 25px;
            height: 25px;
            margin-right: 0.7rem;
        }
    }
}

/**ANIMATION USING SCROLLMAGIC**/

.hide {
    opacity: 0;
    transition: 1s;
}

.show {
    opacity: 1;
}


@media screen and (max-width: 768px) {


  
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {

        bottom: 5%;
    }

    .swiper-pagination-bullet::before{
        left: -5px;
    }

    .swiper-pagination-bullet {
        font-size: $fs-par-md;
    }

    .swiper-pagination-bullet:not(:last-child):after {
        width: 160px;
    }
    

}


@media screen and (max-width: 576px) {

    .swiper {
        min-height: 850px;
    }


    .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }

    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: 80%;

    }

    .swiper-pagination-bullet:not(:last-child):after {
       width: 100px;
    
    }


    
}